.starship-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.starship-card {
  background-color: white;
  border: 16px black;
  padding: 8px;
  border-radius: 8px;
}

h1 {
  font-style: italic;
}